body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-image {
    border: 0.2rem solid #fff;
    border-radius: 10rem;
    box-shadow:0 0 1rem #000;
    width: 15rem;
}

.col .card {
    height: 13rem;
    margin: 1rem 0;
}

.connect-image {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #222627;
    color: #fff;
    padding: 1rem;
    margin-top: auto;
}

footer .circle-image {
    width: 100%;
}

footer hr {
    border-color: #fff;
}

#hero {
    background-image: url("../images/coast.jpeg");
    background-size: cover;
}

.tech-btn {
    order: 2;
}

.tech-btn ~ .line-wing:first-of-type {
    order: 1;
}

.tech-btn ~ .line-wing:last-of-type {
    order: 3;
}

.tech-btn:hover a {
    animation-name: arrow;
    animation-duration: 0.2s;
    color: #007bff;
}

.tech-btn:hover ~ .line-wing {
    animation-name: linewing;
    animation-duration: 0.5s;
    background-color: #007bff;
}

.line-wing {
    background-color: #000;
    height: 1px;
}

.tech-image {
    height: 8rem;
    width: 8rem;
}

.tech-image.smaller {
    width: 6rem;
}

.tech-row {
    justify-content: center;
    align-content: space-evenly;
}

.title {
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.5rem #000;
}

@keyframes linewing {
    from { background-color: #000;}
    to { background-color: #007bff;}
}

@keyframes arrow {
    from {color: #000;}
    to {color: #007bff;}
}