a {
    color: inherit !important;
    text-decoration: none !important;
}

a:hover .card, a:focus .card {
    animation-name: cards;
    animation-duration: 0.5s;
    background-color: #e1e1e1;
}

body {
    background-color: #eef2f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-image {
    border: 0.2rem solid #fff;
    border-radius: 10rem;
    box-shadow:0 0 1rem #000;
    width: 15rem;
}

.col .card {
    height: 13rem;
    margin: 1rem 0;
}

#collapseTech.collapse:not(.show) {
  display: block;
  height: 18rem;
  overflow: hidden;
}

#collapseTech.collapsing {
  height: 18rem;
}

.connect-image {
    width: 60%;
}

footer {
    background-color: #222627;
    color: #fff;
    padding: 1rem;
    margin-top: auto;
}

footer .circle-image {
    width: 100%;
}

footer hr {
    border-color: #fff;
}

#triangleDivider {
    width: 0;
    height: 0;
    border-top: 10vw solid #eef2f5;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}

#hero {
    background-image: url("../images/coast.jpeg");
    background-size: cover;
}

#projectContainer {
    background-color: #c6d9ec;
    margin-top: -1rem;
}

#projectContainer .card {
    margin: 2rem auto;
}

.project-image {
    width: 100%;
}

.project-image-wrapper {
    border: 1px solid #222627;
    border-radius: 0.8rem;
    /* Replace with a script instead of hard-coding */
    height: 30rem;
    overflow: auto;
    padding: 0;
}

.tech-btn {
    order: 2;
    padding: 0;
}

.tech-btn ~ .line-wing:first-of-type {
    order: 1;
}

.tech-btn ~ .line-wing:last-of-type {
    order: 3;
}

.tech-btn:hover {
    animation-name: arrow;
    animation-duration: 0.2s;
    transform: translateY(-5px);
    transition: 0.3s ease;
}

.tech-btn:hover span {
    color: #007bff;
}

.tech-btn:hover ~ .line-wing {
    animation-name: linewing;
    animation-duration: 0.5s;
    background-color: #007bff;
}

.line-wing {
    background-color: #000;
    height: 1px;
}

.tech-image {
    height: 8rem;
    width: 8rem;
}

.tech-image.smaller {
    width: 6rem;
}

.tech-row {
    justify-content: center;
    align-content: space-evenly;
}

.title {
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.5rem #000;
}

@keyframes linewing {
    from { background-color: #000;}
    to { background-color: #007bff;}
}

@keyframes arrow {
    from {color: #000;}
    to {color: #007bff;}
}

@keyframes cards {
    from {background-color: #fff;}
    to {background-color: #e1e1e1;}
}