a {
    color: inherit;
    text-decoration: none !important;
}

a:hover, a:focus {
    color: inherit;
}

a:hover .card, a:focus .card {
    animation-name: cards;
    animation-duration: 0.5s;
    background-color: #e1e1e1;
}

body {
    background-color: #eef2f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.circle-image {
    border: 0.2rem solid #fff;
    border-radius: 10rem;
    box-shadow:0 0 1rem #000;
    width: 100%;
}

.col .card {
    height: 13rem;
    margin: 1rem 0;
}

.connect-image {
    width: 60%;
}

footer {
    background-color: #222627;
    color: #fff;
    padding: 1rem;
    margin-top: auto;
}

footer hr {
    border-color: #fff;
}

#hero {
    background-image: url("../images/coast.jpeg");
    background-size: cover;
}

.line-wing {
    background-color: #000;
    height: 1px;
}

.project-card-body {
    display: flex;
    flex-direction: column;
}

.project-card-body .card-title {
    margin: 0;
}

#projectContainer {
    background-color: #c6d9ec;
}

#projectContainer .card {
    margin-bottom: 1.5rem;
}

#projectRow {
    margin-top: 1.5rem;
}

.tech-btn {
    order: 2;
    padding: 0;
}

.tech-btn ~ .line-wing:first-of-type {
    order: 1;
}

.tech-btn ~ .line-wing:last-of-type {
    order: 3;
}

.tech-image {
    height: 8rem;
    width: 8rem;
}

.tech-image.smaller {
    width: 6rem;
}

.tech-row {
    justify-content: center;
    align-content: space-evenly;
}

.title {
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.5rem #000;
}

#triangleDivider {
    width: 0;
    height: 0;
    border-top: 10vw solid #eef2f5;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}

@media only screen and (min-width: 768px){
    .tech-btn:hover .btn {
        animation-name: arrow;
        animation-duration: 0.2s;
        transform: translateY(-5px);
        transition: 0.3s ease;
    }

    .tech-btn:hover span {
        color: #007bff;
    }

    .tech-btn:hover ~ .line-wing {
        animation-name: linewing;
        animation-duration: 0.5s;
        background-color: #007bff;
    }
}

@keyframes linewing {
    from { background-color: #000;}
    to { background-color: #007bff;}
}

@keyframes arrow {
    from {color: #000;}
    to {color: #007bff;}
}

@keyframes cards {
    from {background-color: #fff;}
    to {background-color: #e1e1e1;}
}